/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import { VantaCore } from "../core.js";
import { encodeFormQuery, encodeSimple } from "../lib/encodings.js";
import { matchStatusCode } from "../lib/http.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import * as components from "../models/components/index.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/httpclienterrors.js";
import { ResponseValidationError } from "../models/errors/responsevalidationerror.js";
import { SDKValidationError } from "../models/errors/sdkvalidationerror.js";
import { VantaError } from "../models/errors/vantaerror.js";
import * as operations from "../models/operations/index.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";

/**
 * List integrations for an audit
 *
 * @remarks
 * Retrieves integration population data for an audit.
 *
 * This endpoint provides access to integration records visible to auditors
 * during an audit engagement. Integrations represent connected services
 * (e.g., GitHub, AWS, Slack) that provide data for the audit.
 *
 * Supports filtering by:
 * - `search`: Searches integration names (case-insensitive)
 * - `tagsMatchesAny`: Filters by integration tag (ACCESS, COMPUTERS, etc.)
 * - `categoriesMatchesAny`: Filters by category (CLOUD_PROVIDER, HR_PROVIDER, etc.)
 *
 * Uses cursor-based pagination. To paginate:
 * 1. Make initial request with desired `pageSize`
 * 2. Check `results.pageInfo.hasNextPage`
 * 3. Use `results.pageInfo.endCursor` as `pageCursor` for next request
 *
 * Results are sorted by integration display name (ascending). This sort order
 * is fixed and cannot be customized via query parameters.
 *
 * Rate limit: 10 requests / minute.
 */
export function auditsListIntegrations(
  client: VantaCore,
  request: operations.ListIntegrationsRequest,
  options?: RequestOptions,
): APIPromise<
  Result<
    components.PaginatedResponseAuditIntegration,
    | VantaError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >
> {
  return new APIPromise($do(
    client,
    request,
    options,
  ));
}

async function $do(
  client: VantaCore,
  request: operations.ListIntegrationsRequest,
  options?: RequestOptions,
): Promise<
  [
    Result<
      components.PaginatedResponseAuditIntegration,
      | VantaError
      | ResponseValidationError
      | ConnectionError
      | RequestAbortedError
      | RequestTimeoutError
      | InvalidRequestError
      | UnexpectedClientError
      | SDKValidationError
    >,
    APICall,
  ]
> {
  const parsed = safeParse(
    request,
    (value) => operations.ListIntegrationsRequest$outboundSchema.parse(value),
    "Input validation failed",
  );
  if (!parsed.ok) {
    return [parsed, { status: "invalid" }];
  }
  const payload = parsed.value;
  const body = null;

  const pathParams = {
    auditId: encodeSimple("auditId", payload.auditId, {
      explode: false,
      charEncoding: "percent",
    }),
  };
  const path = pathToFunc("/audits/{auditId}/integrations")(pathParams);

  const query = encodeFormQuery({
    "categoriesMatchesAny": payload.categoriesMatchesAny,
    "pageCursor": payload.pageCursor,
    "pageSize": payload.pageSize,
    "search": payload.search,
    "tagsMatchesAny": payload.tagsMatchesAny,
  });

  const headers = new Headers(compactMap({
    Accept: "application/json",
  }));

  const secConfig = await extractSecurity(client._options.bearerAuth);
  const securityInput = secConfig == null ? {} : { bearerAuth: secConfig };
  const requestSecurity = resolveGlobalSecurity(securityInput);

  const context = {
    options: client._options,
    baseURL: options?.serverURL ?? client._baseURL ?? "",
    operationID: "ListIntegrations",
    oAuth2Scopes: null,

    resolvedSecurity: requestSecurity,

    securitySource: client._options.bearerAuth,
    retryConfig: options?.retries
      || client._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || ["429", "500", "502", "503", "504"],
  };

  const requestRes = client._createRequest(context, {
    security: requestSecurity,
    method: "GET",
    baseURL: options?.serverURL,
    path: path,
    headers: headers,
    query: query,
    body: body,
    userAgent: client._options.userAgent,
    timeoutMs: options?.timeoutMs || client._options.timeoutMs || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req = requestRes.value;

  const doResult = await client._do(req, {
    context,
    isErrorStatusCode: (statusCode: number) =>
      matchStatusCode({ status: statusCode } as Response, ["4XX", "5XX"]),
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req }];
  }
  const response = doResult.value;

  const [result] = await M.match<
    components.PaginatedResponseAuditIntegration,
    | VantaError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >(
    M.json(200, components.PaginatedResponseAuditIntegration$inboundSchema),
    M.fail("4XX"),
    M.fail("5XX"),
  )(response, req);
  if (!result.ok) {
    return [result, { status: "complete", request: req, response }];
  }

  return [result, { status: "complete", request: req, response }];
}
