/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import { VantaCore } from "../core.js";
import { encodeFormQuery, encodeSimple } from "../lib/encodings.js";
import { matchStatusCode } from "../lib/http.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import * as components from "../models/components/index.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/httpclienterrors.js";
import { ResponseValidationError } from "../models/errors/responsevalidationerror.js";
import { SDKValidationError } from "../models/errors/sdkvalidationerror.js";
import { VantaError } from "../models/errors/vantaerror.js";
import * as operations from "../models/operations/index.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";

/**
 * List account access records for an audit
 *
 * @remarks
 * Retrieves account access population data for an audit.
 *
 * This endpoint provides access to account access records visible to auditors
 * during an audit engagement. Account access data comes from various sources:
 *
 * - **IDP Services** (Identity Providers): Okta, Azure AD, Google Workspace, OneLogin, PingOne
 *
 *   - Returns user accounts from identity providers
 *   - Supports filtering by search and status
 *
 * - **Role Grants Services**: GCP, Azure (when role grants are enabled)
 *
 *   - Returns accounts with role-based access grants
 *   - Supports filtering by search and status
 *
 * - **First-Party Account Services**: AWS, Oracle Cloud, Azure (when not using role grants), etc.
 *
 *   - Returns cloud provider account access records
 *   - Supports filtering by search and status
 *
 * - **Received Account Services**: External applications (Jira, GitHub, Slack, etc.)
 *
 *   - Returns user accounts from third-party integrations
 *   - Supports filtering by search and status
 *
 * Supports filtering by:
 * - `search`: Searches account names/emails (case-insensitive)
 * - `status`: Filters by account status
 *
 * Uses cursor-based pagination. To paginate:
 * 1. Make initial request with desired `pageSize`
 * 2. Check `results.pageInfo.hasNextPage`
 * 3. Use `results.pageInfo.endCursor` as `pageCursor` for next request
 *
 * The default sort order depends on the service type:
 * - Identity provider services (e.g. Okta, Azure AD): sorted by email, ascending
 * - Cloud provider services (e.g. AWS, GCP): sorted by account name, ascending
 * - Role grant services: sorted by account name, ascending
 * - Third-party application services (e.g. GitHub, Jira): sorted by account name, ascending
 *
 * Sort order cannot be customized via query parameters.
 *
 * Rate limit: 10 requests / minute.
 */
export function auditsListPersonnelAccountAccess(
  client: VantaCore,
  request: operations.ListPersonnelAccountAccessRequest,
  options?: RequestOptions,
): APIPromise<
  Result<
    components.PaginatedResponseAccountAccess,
    | VantaError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >
> {
  return new APIPromise($do(
    client,
    request,
    options,
  ));
}

async function $do(
  client: VantaCore,
  request: operations.ListPersonnelAccountAccessRequest,
  options?: RequestOptions,
): Promise<
  [
    Result<
      components.PaginatedResponseAccountAccess,
      | VantaError
      | ResponseValidationError
      | ConnectionError
      | RequestAbortedError
      | RequestTimeoutError
      | InvalidRequestError
      | UnexpectedClientError
      | SDKValidationError
    >,
    APICall,
  ]
> {
  const parsed = safeParse(
    request,
    (value) =>
      operations.ListPersonnelAccountAccessRequest$outboundSchema.parse(value),
    "Input validation failed",
  );
  if (!parsed.ok) {
    return [parsed, { status: "invalid" }];
  }
  const payload = parsed.value;
  const body = null;

  const pathParams = {
    auditId: encodeSimple("auditId", payload.auditId, {
      explode: false,
      charEncoding: "percent",
    }),
    serviceId: encodeSimple("serviceId", payload.serviceId, {
      explode: false,
      charEncoding: "percent",
    }),
  };
  const path = pathToFunc(
    "/audits/{auditId}/personnel/account-access/{serviceId}",
  )(pathParams);

  const query = encodeFormQuery({
    "pageCursor": payload.pageCursor,
    "pageSize": payload.pageSize,
    "search": payload.search,
    "status": payload.status,
  });

  const headers = new Headers(compactMap({
    Accept: "application/json",
  }));

  const secConfig = await extractSecurity(client._options.bearerAuth);
  const securityInput = secConfig == null ? {} : { bearerAuth: secConfig };
  const requestSecurity = resolveGlobalSecurity(securityInput);

  const context = {
    options: client._options,
    baseURL: options?.serverURL ?? client._baseURL ?? "",
    operationID: "ListPersonnelAccountAccess",
    oAuth2Scopes: null,

    resolvedSecurity: requestSecurity,

    securitySource: client._options.bearerAuth,
    retryConfig: options?.retries
      || client._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || ["429", "500", "502", "503", "504"],
  };

  const requestRes = client._createRequest(context, {
    security: requestSecurity,
    method: "GET",
    baseURL: options?.serverURL,
    path: path,
    headers: headers,
    query: query,
    body: body,
    userAgent: client._options.userAgent,
    timeoutMs: options?.timeoutMs || client._options.timeoutMs || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req = requestRes.value;

  const doResult = await client._do(req, {
    context,
    isErrorStatusCode: (statusCode: number) =>
      matchStatusCode({ status: statusCode } as Response, ["4XX", "5XX"]),
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req }];
  }
  const response = doResult.value;

  const [result] = await M.match<
    components.PaginatedResponseAccountAccess,
    | VantaError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >(
    M.json(200, components.PaginatedResponseAccountAccess$inboundSchema),
    M.fail("4XX"),
    M.fail("5XX"),
  )(response, req);
  if (!result.ok) {
    return [result, { status: "complete", request: req, response }];
  }

  return [result, { status: "complete", request: req, response }];
}
